* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}

.tittlegen {
    font-size: 27px;
    text-align: center;
}

header {
    background-color: #ff2018;
    color: white;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}

.logo {
    font-size: 28px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 30px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #d1e7dd;
}
.firstlook {
    background-color: #e9ecef;
    padding: 40px 20px;
    text-align: center;
    border-radius: 8px;
    margin: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.firstlook h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.firstlook p {
    font-size: 18px;
    color: #555;
    margin-top: 20px;
}
img {
    margin-right: 50px;
    height: 350px;
    width: 300px;
    border-radius: 8px;
}

img:last-child {
    margin-right: 0;
}

.navlink {
    background-color: #e9ecef;
    padding: 10px 5px;
    text-align: center;
    border-radius: 8px;
    margin: 20px;
    margin-left: 680px;
    margin-right: 680px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.navlink a {
    text-decoration: none;
    font-size: 18px;
    color: inherit;
    transition: transform 0.3s;
}

.navlink:hover {
    transform: translateY(-5px);
}

.navdivs {
    text-align: center;
    margin: 20px;
    margin-top: 30px;
}

.navdivs img {
    margin: 10px;
    max-width: 100%;
    height: 300px;
    width: 300px;
    margin-right: 50px;
}